{% extends 'layouts/base.twig' %}

{% block content %}

    <div id="sticky-image-1" class="sticky">
        <img src="{{ head }}" alt="background du site">
    </div>

    <div id="sticky-image-2" class="sticky">
        <img src="{{ cab }}" alt="background du site">
    </div>

{% endblock %}
