{% extends 'layouts/base.twig' %}

{% block content %}
    <h1>Bienvenue sur notre blog</h1>
    <ul>
        {% for post in posts %}
            <li>
                <a href="{{ post.link }}">{{ post.title }}</a>
                <p>{{ post.excerpt }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
