/*animations********************************************************************************************/
@keyframes move {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-15px);
  }
  50% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0px);
  }
}
/*fonts********************************************************************************************/
/*body********************************************************************************************/
body {
  margin: 0;
  height: 200vh; /* Pour simuler un contenu plus long */
  font-family: Arial, sans-serif;
  background-color: black;
}

/*header********************************************************************************************/
header {
  position: fixed;
  width: 100%;
  z-index: 3000;
  display: flex;
  justify-content: space-between;
}
header .header-logo img {
  max-width: 400px;
  width: 50dvw;
}
header nav img {
  max-width: 300px;
  width: 30dvw;
}

/*background********************************************************************************************/
.background {
  display: flex;
  position: relative;
  /* Background containers */
  /* Base styles for background images */
}
.background #left-background, .background #right-background {
  width: 50%;
  top: 0;
  z-index: -1;
}
.background #left-background {
  left: 0;
  /* Specific styles for each image */
}
.background #left-background .background-image-left-1 {
  z-index: 1;
  background-image: url("../images/backgroundL.webp");
}
.background #left-background .background-image-left-2 {
  z-index: 3;
  background-image: url("../images/backgroundL2.webp");
}
.background #right-background {
  right: 0;
}
.background #right-background .background-image-right-1 {
  z-index: 1;
  background-image: url("../images/backgroundR.webp");
}
.background #right-background .background-image-right-2 {
  z-index: 3;
  background-image: url("../images/backgroundR2.webp");
}
.background .background-image {
  position: absolute;
  width: 50dvw;
  height: 100dvh;
  background-repeat: repeat-y; /* Repeat vertically */
  background-size: cover; /* Adjust the size to cover the container */
  background-position: center;
  will-change: transform; /* Optimisation pour la transformation */
}
.background #animated-line {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100vh;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.background #animated-line span {
  width: 10dvw;
  height: 10dvh;
  background-color: black;
  animation: move 1.5s ease-in-out infinite;
}
.background #animated-line span:nth-child(1) {
  animation-delay: 0s;
}
.background #animated-line span:nth-child(2) {
  animation-delay: 0.1s;
}
.background #animated-line span:nth-child(3) {
  animation-delay: 0.2s;
}
.background #animated-line span:nth-child(4) {
  animation-delay: 0.3s;
}
.background #animated-line span:nth-child(5) {
  animation-delay: 0.4s;
}
.background #animated-line span:nth-child(6) {
  animation-delay: 0.5s;
}
.background #animated-line span:nth-child(7) {
  animation-delay: 0.6s;
}
.background #animated-line span:nth-child(8) {
  animation-delay: 0.7s;
}
.background #animated-line span:nth-child(9) {
  animation-delay: 0.8s;
}
.background #animated-line span:nth-child(10) {
  animation-delay: 0.9s;
}